.home_bg {
  background-color: #1abc9c;
}
.fonstSize {
  font-size: 1.25rem;
}
.img{
    width: 20rem;
}


@media screen and (max-width: 576px) {
    .fonstSize {
        font-size: 1rem;
      }
      .img{
        width: 13rem;
    }
    
}
